<script setup lang="ts">
import { reactive, computed } from "vue";
const state = reactive({
  num1: "0",
  num2: "0",
  result: 0,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
const doAdd = function () {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>

<template>
  <div class="contain">
    <div>
      <input
        type="text"
        ref="num1"
        v-model="state.num1"
        style="text-align: center; width: 80%"
      />
    </div>
    <div>+</div>
    <div>
      <input
        type="text"
        ref="num2"
        v-model="state.num2"
        style="text-align: center; width: 80%"
      />
    </div>
    <hr />
    <button class="center_text" style="width: 80%" @click="doAdd()">=</button>
    <div ref="result">{{ state.num1 }} + {{ state.num2 }} = {{ result }}</div>
  </div>
</template>

<style>
.contain {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  text-align: center;
}
.contain:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.center_text {
  text-align: center;
  padding: 5px;
  margin: 10px;
}
</style>
